* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 1000;
	text-align: center;
	background-color: #7B7573;
	color: aliceblue;
}



h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 45px;
	line-height: 60px;
	font-weight: 300;
	color: aquamarine;
}

h2 {
	font-size: 24px;
	line-height: 29px;
}

h3 {
	font-size: 20px;
	line-height: 23px;

}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
	line-height: 24px;
 }

 a {
 	font-size: 14px;
    line-height: 17px;
 }



button {
	padding: 10px;
	margin: 0;
	border-color: lightskyblue; 
	border-width: 2px;
	color: lightpink;
	margin-top: 10%
}


.flash {
	text-decoration: none;
	margin-top: 50%;

}

ul {
	list-style-type: none;
	text-align: center;
	border: 1px solid ;
	padding: 10px;
	border-color: rgb(218, 242, 245);

}
.heading a {
    text-decoration: none;
	border: none;
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 80px;
	color: #42C3C9;
	line-height: 60px;
	font-weight: 300;
}
.toolbar a {
    padding: 10px;
	margin: 0;
	border-color: lightskyblue; 
	border-width: 2px;
	color: lightpink;
}
.container {
	text-align: center;
	display: inline-block;
	
}

input {
	padding: 10px;
	margin: 0;
	border-color: lightskyblue; 
	border-width: 2px;
	color: lightpink;
	margin-top: 10%
}

main {
	margin-top: 10%
}